<style>
body {
	width:100%;
	height:100%;
	margin:0;
	border:0;
}
</style>
<body><script>
var c = document.createElement('canvas').getContext('2d');
c.canvas.width = window.innerWidth;
c.canvas.height = window.innerHeight;
c.canvas.style.display = 'inline';
c.canvas.style.position = 'fixed';
document.getElementsByTagName('body')[0].appendChild(c.canvas);
var im = new Image();
im.onload = function () {
	c.drawImage(im,0,0,c.canvas.width,c.canvas.height);
};
im.src = 't.jpg';
//c.fillRect(0,0,200,200);

</script>
</body>
